@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

:root {
  color-scheme: light;
  --background: #fcfcfc;
  --foreground: #09090b;
  --card: #ffffff;
  --card-foreground: #09090b;
  --border: #e4e4e7;
}

.dark {
  color-scheme: dark;
  --background: #09090b;
  --foreground: #f4f4f5;
  --card: #121215;
  --card-foreground: #f4f4f5;
  --border: #27272a;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-feature-settings: "rlig" 1, "calt" 1;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
